/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 de set de 2021, 09:33:05
    Author     : arauj
*/
.{
    margin:0;
    padding: 0;
}

body{
    font-family: 'Open sans',sans-serif;
}

.primary-button{
    background: forestgreen;
    color: #000;
    display: inline-block;
    padding: 10px,35px;
    text-transform: capitalize;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid #fff;
    transition: .2s all;
    text-decoration: none;
    
}
.primary-button:haver{
    background: azure;
    color: #000;
    border: 2px solid #fff;
    
}

.video-section{
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

.banner:after{
    position: relative;
    height: 100vh;
}

.banner::after{
    position: absolute;
    content: " ";
    insert: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
}

.banner-content h1{
    font-size: 6vw;
    color: #fff;
    text-transform: capitalize;
    line-height: 73px;
    margin-bottom: 18px;
    
}

.banner-content{
    position: absolute;
    left: 50%;
    margin: auto;
    content: "";
    text-align: center;
    top: 35%;
    transform: translate(-55%);
    z-index: 9;
    
}

.banner-content p{
    color: #fff;
    max-width: 710px;
    width: 100%;
    margin: 0 auto;
    padding: 25px, 0px,33px;
    font-size: 1em;
}

@media(max-width: 750px){
    .banner-content p{
        width: 90vw;
        
    }
    .banner-content h1{
        font-size: 9vw;
        line-height: 53px;
    }
}